@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

ul {
  list-style-type: none;
}

/**
 * ----------------------------------------
 * animation text-focus-in header promo
 * ----------------------------------------
 */
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation jello-horizontal header promo__content
 * ----------------------------------------
 */
.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s 0.7s both;
  animation: jello-horizontal 0.9s 0.7s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/**
 * ----------------------------------------
 * animation puff-in-center product__cart
 * ----------------------------------------
 */
.puff-in-center {
  -webkit-animation: puff-in-center 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-center 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-up-ver-top product-menu__details
 * ----------------------------------------
 */
.scale-up-ver-top {
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

.header {
  background: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search {
  margin-left: 41px;
}

.header__icon:not(:last-child) {
  margin-right: 33px;
}

.header__basket-25px:not(:first-child) {
  margin-left: 25px;
}

.header__basket-42px {
  margin-left: 42px;
}

.promo {
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.promo__img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo__photo {
  width: 100%;
}

.promo__text {
  min-width: 50%;
}

.promo__content {
  margin-top: 40%;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.promo__heading {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo__info {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.select {
  color: #F16D7F;
}

.sale__top {
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}

.sale__img {
  width: 100%;
}

.sale__item {
  position: relative;
}

.sale__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sale__item:not(:last-child) {
  margin-right: 30px;
}

.sale__p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.sale__heading {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.sale .sale__bottom {
  padding-bottom: 96px;
}

.product-box__heading {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 6px;
}

.product-box__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 48px;
}

.product-box__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

.product {
  width: 360px;
  background: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.product:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.product:hover .product__img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.product:hover .product__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__img {
  width: 100%;
}

.product__content {
  padding: 24px 16px 20px 16px;
}

.product__name {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.product__price {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.product__cart {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 139px;
  height: 44px;
  border: 1px solid #FFFFFF;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 188px;
  left: 111px;
}

.product__cart:hover {
  -webkit-box-shadow: 0 0 20px #fff;
          box-shadow: 0 0 20px #fff;
}

.basket {
  margin-right: 11px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  padding-bottom: 96px;
}

.button__text {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 15px 39px;
  border: 1px solid #FF6A6A;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.button__text:hover {
  color: white;
  background-color: #F16D7F;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.advantages {
  background: #222224;
}

.advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 104px 0 104px 0;
}

.advantages__box {
  padding: 0 35px 0 35px;
}

.delivery__img {
  margin-bottom: 28px;
}

.sales__img {
  margin-bottom: 19px;
}

.crown__img {
  margin-bottom: 25px;
}

.delivery__heading,
.sales__heading,
.crown__heading {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.delivery__text,
.sales__text,
.crown__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
}

.subscribe {
  background-image: url(../img/subscribe.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe__content {
  min-height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__info {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.subscribe__texting {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 30px;
}

.subscribe__botton {
  width: 557px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.botton__header {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
}

.botton__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  color: #222224;
  margin-bottom: 32px;
}

.botton__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.botton__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0px;
  border-radius: 40px 0px 0px 40px;
  width: 256px;
  height: 49px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #222224;
  background: #E1E1E1;
  outline: none;
}

.botton__press {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0px;
  border-radius: 0px 40px 40px 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  width: 100px;
  height: 49px;
  background: #F16D7F;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.botton__press:hover {
  color: white;
  background-color: #cf5565;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.footer {
  background: #222224;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

.footer__sign {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand__footer:not(:last-child) {
  margin-right: 7px;
}

.brand__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  fill: #000000;
  background: #ffffff;
}

.brand__footer:hover {
  fill: #FFFFFF;
  background: #F16D7F;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.arrival {
  background: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 148px;
}

.arrival__heading {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.arrival__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.arrival__select {
  font-weight: bold;
  color: #F16D7F;
}

.product-box__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 51px 0px 58px;
}

.product-box__button {
  position: relative;
  width: 360px;
}

.product-box__filter-name {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: black;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  position: relative;
  padding-left: 16px;
}

.product-box__button[open] .product-box__filter-name {
  color: #EF5B70;
  fill: #EF5B70;
}

/*delete market near filter*/
summary::-webkit-details-marker {
  display: none;
}

.product-box__icon-filter {
  padding-left: 11px;
}

.product-box__category {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding: 11px;
}

details,
summary {
  outline: none;
}

.product-box__accordion {
  position: absolute;
  width: 360px;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  background-color: #fff;
  padding: 46px 16px 16px 16px;
  margin-top: -30px;
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.product-box__accordion[open] {
  position: relative;
}

.product-box__open {
  margin-top: 18px;
}

.product-box__open:first-of-type {
  margin-top: 0;
}

.product-box__category_table {
  margin-bottom: 24px;
  margin-top: 24px;
  padding-left: 16px;
}

.product-box__category_table-list {
  list-style: none;
  margin-bottom: 11px;
}

.product-box__category_table-list:last-of-type {
  margin-bottom: 0;
}

.product-box__category_list {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.product-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}

.product-menu__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-menu__check {
  margin-left: 10px;
}

.product-menu__details {
  position: relative;
  cursor: pointer;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  height: 20px;
}

.product-menu__details:not(:last-child) {
  margin-right: 28px;
}

.product-menu__info {
  padding: 8px 30px 8px 8px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 1;
  left: -9px;
  top: calc( 100% + -1px);
  display: none;
}

.product-menu__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  cursor: pointer;
  margin-top: 6px;
}

.product-menu__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.product-menu .product-menu__input:checked + .product-menu__span::before {
  content: '✖';
  font-size: 12px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 60%;
  -webkit-transform: translate(-52%, -66%);
          transform: translate(-52%, -66%);
  cursor: pointer;
  color: #cccbcb;
}

.product-menu__span {
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: relative;
  cursor: pointer;
  margin-right: 9px;
}

.product-menu .product-menu__details:hover .product-menu__info {
  display: block;
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.product-box__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  width: 283px;
  height: 44px;
  border: 1px solid #ebebeb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 96px;
}

.product-box__slider__right {
  margin-top: 3px;
}

.product-box__slider__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0px 18px;
}

.product-box__slider__box__items {
  list-style: none;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.product-box__slider__box__items__link {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.product-box__slider__box__items__one {
  color: #EF5B70;
}

.product-box__slider__box__items_six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.product-box__slider__box__items__twenty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.product-box__slider__left {
  margin-top: 3px;
}

.slidering {
  background-color: #F7F7F7;
  height: 777px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slidering__box {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slidering__box:hover {
  fill: #F16D7F;
}

.info {
  max-width: 1141px;
  height: 601px;
  background: #FFFFFF;
  margin: -64px auto 125px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EAEAEA;
}

.info__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-top: 64px;
}

.info__line-small {
  background: #EF5B70;
  width: 63px;
  height: 3px;
  margin-top: 12px;
}

.info__subject {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-top: 12px;
}

.info__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-top: 48px;
  width: 48%;
}

.info__price {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-top: 32px;
}

.info__line-long {
  border: 1px solid #EAEAEA;
  width: 641px;
  margin-top: 64px;
}

.info__choose {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.info__details:not(:last-child) {
  margin-right: 23px;
}

.info__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__check {
  margin-left: 9px;
}

.info__form {
  margin-top: 48px;
}

.info__botton {
  width: 212px;
  height: 48px;
  border: 1px solid #FF6A6A;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  fill: #F26376;
  color: #F26376;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.info__botton:hover {
  fill: white;
  color: white;
  background-color: #f16d7f;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.info svg {
  margin-right: 23px;
}

.product__page-buttom {
  margin-bottom: 98px;
}

.shoping {
  background-color: #F8F3F4;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shoping__cart {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.cart-box {
  margin-top: 96px;
  margin-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__item {
  width: 652px;
  height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  margin-bottom: 72px;
}

.cart__close {
  margin: 28px 0 0 612px;
  -webkit-transition: ease-in;
  transition: ease-in;
  position: absolute;
}

.cart__close_turn {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  fill: #575757;
  cursor: pointer;
}

.cart__close_turn:hover {
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

.cart__item:first-of-type {
  margin-bottom: 42px;
}

.cart__img {
  width: 100%;
  height: 100%;
}

.cart__content {
  margin-top: 22px;
  margin-left: 31px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.cart__name {
  margin-bottom: 42px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.cart__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart__text:first-of-type {
  margin-top: 42px;
}

.cart__text_red {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #EF5B70;
}

.cart__text_dark {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #6F6E6E;
}

.cart__text_dark-box {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #6F6E6E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #EAEAEA;
  width: 44px;
  margin-left: 24px;
  text-align: center;
}

.cart__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__button {
  border: 1px solid #A4A4A4;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: #FFFFFF;
  width: 225px;
  height: 50px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cart__button:hover {
  color: #FFFFFF;
  background: #F16D7F;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.cart-right {
  width: 360px;
}

.cart-right_shipping {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart-right__input {
  border: 1px solid #A4A4A4;
  width: 340px;
  height: 45px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  margin-bottom: 20px;
  padding-left: 17px;
}

.cart-right__input:first-of-type {
  margin-top: 20px;
}

.cart-right__button {
  border: 1px solid #A4A4A4;
  width: 101px;
  height: 35px;
  background-color: #FFFFFF;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 57px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cart-right__button:hover {
  color: white;
  background-color: #f16d7f;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.cart-right__info {
  background: #F5F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 44px;
}

.cart-right__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.cart-right__text:first-of-type {
  margin-bottom: 12px;
}

.cart-right__select-margine {
  margin-left: 20px;
}

.cart-right__select-pink {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-left: 20px;
}

.cart-right__line {
  background: #E2E2E2;
  width: 100%;
  height: 1px;
  margin-top: 21px;
  margin-bottom: 17px;
}

.cart-right__button-pink {
  background: #F16D7F;
  width: 100%;
  height: 50px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
  border: none;
}

.cart-right__button-pink:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 96px;
}

.registration .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}

.registration .form__name {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration .form__text {
  margin-top: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #A4A4A4;
  height: 45px;
  padding-left: 17px;
  outline: none;
}

.registration .form__genus {
  margin-top: 31px;
}

.registration .form__gender {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  padding-left: 10px;
  margin-right: 20px;
}

.registration .form__details {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 33px;
}

.registration .form__subject {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
}

.registration .form__button {
  width: 167px;
  height: 50px;
  background: #F16D7F;
  margin-top: 39px;
  color: white;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  outline: none;
}

.registration .form__button svg {
  margin-left: 20px;
}

.registration .form__button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.registration .subjects {
  width: 652px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration .subjects h3 {
  margin-bottom: 22px;
  width: 652px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration .subjects p {
  margin-bottom: 22px;
}

.registration .subjects__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.registration .subjects__text {
  padding-bottom: 16px;
}

.registration .subjects__text:before {
  content: url(../img/registaration_subject_table_check.svg);
  margin-right: 22px;
}

@media (max-width: 1180px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .header__left {
    padding: 0 16px;
  }
  .header__right {
    padding: 0 16px;
  }
  .promo__content {
    margin-left: 32px;
  }
  .promo__heading {
    font-size: 44px;
    line-height: 53px;
  }
  .promo__info {
    font-size: 24px;
    line-height: 29px;
  }
  .sale__top {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .sale__item:not(:last-child) {
    margin-right: 20px;
  }
  .sale__bottom {
    padding-bottom: 155px;
  }
  .product-box__heading {
    margin-bottom: 3px;
  }
  .product-box__text {
    margin-bottom: 72px;
  }
  .product-box__content {
    margin-bottom: 2px;
  }
  .button {
    padding-bottom: 64px;
  }
  .advantages__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 48px 0 64px 0;
  }
  .advantages__box {
    width: 310px;
  }
  .advantages__box:not(:first-child) {
    padding-top: 48px;
  }
  .subscribe__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe__info {
    margin-top: 64px;
  }
  .subscribe__botton {
    margin-top: 75px;
    margin-bottom: 140px;
  }
  .botton__text {
    margin-bottom: 27px;
  }
}

@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 172.5px);
    padding-right: calc(50% - 172.5px);
  }
  .header__left {
    padding: 0px;
  }
  .header__right {
    padding: 0px;
  }
  .promo {
    min-height: 363px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo__img {
    display: none;
  }
  .promo__text {
    min-width: 0%;
  }
  .promo__content {
    margin: 0;
    border-left: 12px solid #F16D7F;
  }
  .promo__heading {
    font-size: 38px;
    line-height: 46px;
  }
  .promo__info {
    font-size: 20px;
    line-height: 24px;
  }
  .sale__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 64px;
    padding-bottom: 0;
  }
  .sale__item {
    margin-bottom: 32px;
  }
  .sale__item:not(:last-child) {
    margin-right: 0px;
  }
  .sale__item-big {
    margin-bottom: 0px;
  }
  .sale__img-big {
    height: 111px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sale .sale__bottom {
    padding-bottom: 64px;
  }
  .product-box__text {
    margin-bottom: 64px;
  }
  .product-box__content {
    margin-bottom: 40px;
  }
  .product {
    width: 100%;
  }
  .product:not(:last-child) {
    margin-bottom: 15px;
  }
  .product:nth-last-of-type(-n+1) {
    margin-bottom: 0;
  }
  .button {
    padding-bottom: 96px;
  }
  .advantages__content {
    padding: 48px 0 81px 0;
  }
  .subscribe__info {
    width: auto;
  }
  .subscribe__texting {
    font-size: 18px;
    line-height: 22px;
  }
  .subscribe__botton {
    margin-top: 60px;
    margin-bottom: 110px;
  }
  .botton__header {
    font-size: 24px;
    line-height: 153.2%;
    width: auto;
  }
  .botton__text {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 153.2%;
  }
  .botton__input {
    width: 245px;
    height: 47px;
  }
  .botton__press {
    width: 96px;
    height: 47px;
  }
  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 43px;
    padding-bottom: 9px;
  }
  .footer__icon {
    padding-bottom: 40px;
  }
}

@media (max-width: 374px) {
  .center {
    padding-left: calc(50% - 145px);
    padding-right: calc(50% - 145px);
  }
  .botton__input {
    width: 212px;
    height: 40px;
  }
  .botton__press {
    width: 78px;
    height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */